body{
	padding:0;
	margin:0;
	background:rgb(242,246,233);
}

<!-- navigation bar-->

	<!-- navbar links-->
	.navbar-custom{
		background-color:black;
	}
	
	.navbar{
		background-color:black;
	}
	.navbar-brand{
		color:white;
	}
	.navbar-brand:hover{
		transform:scale(1.1);
		color:white;
	}
	
	.nav-link{
		color:#ebd3f2;
	}
	
	.nav-link:hover{
		color:black;
	}
	
	.nav-item:hover{
		background-color:white;
		color:black;
	}
	
	
	<!--hamburger menu-->
		.navbar-collapse {
			justify-content: flex-end;
		}
		.custom-toggler.navbar-toggler{
			border-color: white;
			color:black;
		}
		
		
		
	<!--header-->
	
	.header {
		background-image: url('delhi.jpg');
		background-size: cover;
		background-position: center;
		position: relative;
	}